button{
    width: 10opx;
    padding: 15px 20px;
    border-radius: 100px;
    border:none;
    background-color: aqua;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding:25px;
}
#calculator{
    font-family: monospace;
    background-color: rgb(63, 62, 62);
    border-radius: 15px;
    max-width: 300px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding:20px;
    font-size: 2rem;
    text-align: left;
    border: none;
    background-color:white;
    color: black;
}
body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(175, 174, 174);
}
button:hover{
    background-color: rgb(219, 213, 213);
}
button:active{
    background-color: white;
}

