body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
#myBox{
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: lightgreen;
}
#myButton{
    border:none;
    padding: 10px 12px;
    background-color: white;
}